body{
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
	font-family: Tahoma, Geneva, sans-serif;
}

header{

	display: block;
	width: 100%;
	height: 110px;
	padding: 2px;
	padding-left: 10px;
	border-bottom: 1px solid black;
	margin: 0px;
	background: #efefef;
}

section.loginform{
	position: absolute;
	right: 10px;
	top: 5px;
	display: block;
	width: 500px;
	height: 100px;
	z-index: 1;
}

h1{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 32pt;
}

/*animated logo*/
@keyframes animatedlogo {
    from {top: -200px;}
    to {top: 8px;}
}

.logo{
	position: absolute;
	left: 425px;
	top: 8px;
	animation-name:animatedlogo;
	animation-duration: 1s;
}


.username{
	display: inline-block;
	margin: 2px;
	margin-right: 30px;
}

#inputusername{
	height: 30px;
	width: 220px;
	font-size: 12pt;
	color: #a0a0a0;
}

#inputusername:focus{
	color: black;
}

#inputpassword:focus{
	color: black;
}

.password{
	display: inline-block;
}

#inputpassword{
	height: 30px;
	width: 180px;
	font-size: 12pt;
	color: #a0a0a0;
}

.loginlink1{
	font-size: 18pt;
}

.loginlink2{
	font-size: 18pt;
}

.logoutlink{
	position: absolute;
	right: 150px;
	bottom: 25px;
	font-size: 18pt;
}

main{
	width: 100%;
	padding: 25px;
	display: inline-block;
}

li::first-letter{
	color: #0000FF;
}

.splashscreenlogo{
	position: absolute;
	right: 50px;
	top: 150px;
}

.task-input{
	position: absolute;
	left: 25px;
	top: 135px;
	width: 200px;
	line-height: 175%;
	font: 20pt;
}

.Notearea{
	height: 100px;
	width: 100%;
	text-align: top;
}

#Task{
	position: absolute;
	top: 135px;
	right: 25px;
	width: 1000px;
	height: 100px;
}

.tasktable{
	width: 100%;
	border-collapse: collapse;
}

.taskrow1{
	background-color: #D0D0D0;
}

.taskrow2{
	background-color: white;
}

.taskrowdone{
	background-color: #A0F0A0;
}

.taskrowimportant1{
	background-color: #9090E0;
}

.taskrowimportant2{
	background-color: #E0E0F0;
}

.taskcell{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.thincell{
	width: 100px;
}

.widecell{
	width:250px;
}


.popup{
	z-index:10;
	position: absolute;
	top: 100px;
	left: 7.5%;
	width: 80%;
	height: 70%;
	border: 2px solid black;
	background-color: white;
	padding: 50px;
}

footer{
	position: absolute;
	display: inline-block;
	bottom: 0px;
	width: 100%;
	height: 100px;
	padding: 2px;
	border-top: 1px solid black;
	margin: 0px;
	background: #efefef;
}

.contact{
	position: absolute;
	right: 50px;
	display: block;
	width: 200px;
	height: 100px;
	z-index: 1;
	line-height: 200%;
}

.bold{
	font-weight: bold;
}